@import url('https://fonts.googleapis.com/css?family=Lato|Supermercado+One');

/* OK - Use the 'Lato' font family at 18px throughout the body of the document, and cover the background with the './img/map-bg.jpg' image. */
body, nav {
    font-family: 'Lato';
     font-size: 18px;
}

#main {
    width: 900px;
     margin: 10px auto;
}
/* OK - Use the 'Supermercado One' font at 45px (colored #5d4037) for the restaurant name. */

.titulo {
    font-family: 'Supermercado One', Normal;
    font-size: 45px;
    color: #5d4037
}

/*OK - Set the separator between the columns (the "column-rule") to be 2px dashed rosybrown. */
#menu {
    columns: 400px 2;
    column-gap: 100px;
    column-rule: 2px solid rosybrown;
    column-rule-style: dashed;
    border-width: 2px;
}
section {
    margin-bottom: 50px;
}

/* OK - Show each of the section headings of the menu (e.g. "Starters") in small caps, colored #6d4c41. */
h2 {
    margin: 0;
    font-family: 'Lato';
    font-variant: small-caps;
    font-size: 25px;
    color: #6d4c41;
    font-weight: bold;
}

/* OK- Make the name of each menu item appear in bold in a 20px size. */
dd {
    margin: 0 0 12px 0;
    display: flex;
}

.details {
    order: 1;
    font-size: 18px;
}

/* OK - Show the price of each item in a large font, in the color named 'firebrick' */
.price {
    order: 2; 
    padding-left: 10px;
    font-size: large;
    font-weight: bold; 
    color: firebrick
}

/* OK - Draw a 2px dashed rosybrown border around the address/footer */
address {
        padding: 10px;
        border-style: dashed;
        border-width: 2px;
        border-color: rosybrown;
        font-weight: bold;
}

body {
    font-family: 'Lato', normal;
    background-image: url('img/map-bg.jpg');
}

dt {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lato';
}