@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Oswald');

/* OK - Use the 'Oswald' font family at 14px throughout the body of the document. */
body, nav {
    font-family: 'Oswald';
     font-size: 14px;
    }

#main {
    width: 900px;
    margin: 10px auto;
}

#menu {
    columns: 420px 2;
    column-gap: 60px;
}

section {
    margin-bottom: 20px;
    padding: 10px;
}

/* OK - Show each of the section headings of the menu (e.g. "Starters") in uppercase. */
h2 {
    font-family: 'Oswald';
    margin-top: 0;
    text-transform: uppercase;
}

/* OK - Make the name of each menu item appear in bold in a 16px size. */
dt {
    display: inline;
    font-family: 'Oswald';
    font-size: 16px;
    font-weight: bold;
}
/* OK - Make a comma appear after the name of each menu item (before the description) */
dt::after {
    content: ", "
}

dd {
    display: inline;
     margin: 0;
}

dd::after {
    content: " ";
    display: block;
    Clear: both;
    margin-bottom: 15px;
}

.price {
    font-family: 'Arial';
    float: right;
    padding: 0 0 35px 20px;
    font-weight: bold;
    }

/* OK - Use the 'Bungee Inline' font at 46px and lighter weight for the restaurant name. */
h1 {
    font-family: 'Bungee Inline';
    font-weight:lighter;
    font-size: 46px;

}

.details {
    font-size: 15px;
}

/* OK - draw a 2px black border around the starters and desserts sections of the menu */
#starters {
    border-style: solid;
    border-width: 2px;
}

#desserts {
    border-style: solid;
    border-width: 2px;
}

/* OK - Right-align the text of the address/footer */
address {
    text-align: right;
    font-family: 'Oswald';
}